on: push
name: Slack Notification

jobs:
  slackNotification:
    name: Slack Notification
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_MESSAGE: I DID A THING WHOOOHOOO
          MSG_MINIMAL: true
          SLACK_USERNAME: NewDeployment
          SLACK_MSG_AUTHOR: Release Bot
          SLACK_FOOTER: Please update to the latest version
          SLACK_TITLE: There is a new release available