on: push
name: Slack Notification

jobs:
  slackNotification:
    name: Slack Notification
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]

    env:
      VERSION:

    steps:
      - name: Slack Notification
        uses: archive/github-actions-slack@v1.0.3
        id: notify
        with:
          slack-bot-user-oauth-access-token: ${{ secrets.SLACK_OAUTH }}
          slack-channel: 02_fixes_and_lms_thingies
          slack-text: (IGNORE ME)A new version of the lms is available "'${ GITHUB_REF/refs\/tags\/v/ }'"
      - name: Result from Slack Notification
        run: echo "The result was ${{ steps.notify.outputs.slack-result }}"