on: push
name: Slack Notification

jobs:
  slackNotification:
    name: Slack Notification
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]

#trigger
    steps:
      - uses: actions/checkout@v2
        name: Checkout Repo

      - uses: actions-ecosystem/action-get-latest-tag@v1
        id: get-latest-tag

      - name: Slack Notification
        uses: archive/github-actions-slack@v1.0.3
        id: notify
        with:
          slack-bot-user-oauth-access-token: ${{ secrets.SLACK_OAUTH }}
          slack-channel: 02_fixes_and_lms_thingies
          slack-optional-link_names: true
          slack-optional-reply_broadcast: true
          slack-text: |
            A new version of the lms is available `${{ steps.get-latest-tag.outputs.tag }}`
      - name: Result from Slack Notification
        run: echo "The result was ${{ steps.notify.outputs.slack-result }}"