name: VSCODE Extension Release

on:
  push:
    tags: v*

jobs:
  build:
    steps:
      - uses: actions/checkout@v2
      - run: npm install
      - uses: lannonbr/vsce-action@master
        with:
          args: "package"
