on:
  push:
    tags: v*

name: VSCODE Extension Release
jobs:
  build:
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]

    steps:
      - name: Bump Version
        run: |
          sed -i 's/^  "version": .*/"  version": "'${GITHUB_REF/refs\/tags\/v/}'",/g' package.json

      - uses: actions/checkout@v2
      - run: npm install
        continue-on-error: true
        
      - uses: lannonbr/vsce-action@master
        with:
          args: "package"
      
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v0.1.5
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: website-monitor-service-*.vsix
